{
    "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
    ],
    "settings": {
      "import/resolver": {
        "node": {
          "moduleDirectory": ["node_modules", "frontend/src/"]
        }
      }
    }
  }