{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "camelcase": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/button-has-type": 0,
    "react/forbid-prop-types": 0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "consistent-return": 0,
    "no-param-reassign": 0,
    "no-undef": 0
  },
  "globals": {
    "localStorage": true,
    "fetch": true,
    "document": true
  }
}
